extends layout

block content

  if message.length > 0
    .alert.alert-info=message
    
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Register
        form(method='POST' action='/register')
          div.form-group
            label(for='email') Username
            input.form-control(type='text' id='username' placeholder='username' name='username')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary(type='submit') Sign Up